li a{
    margin-left: 10px;
    font-size: 16px;
    font-weight:600;
    /* color: aliceblue; */
}

a.active{
    color: #2C7BE5;
    background-color: aliceblue;
    /* text-decoration: underline; */
}